.chart-wrapper {
  position: relative;
  height: 250px;
  width: 250px;
  margin: auto;
}

.chart-wrapper canvas {
  image-rendering: optimizeQuality;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}